* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100vh;
}

html {
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

body {
	background-image: linear-gradient(to right, rgba(28, 145, 210, 0.7), rgba(242, 252, 243, 0.7))
									, url('../img/background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#root:before, #root:after {
	content: ' ';
	display: table;
}
