.result-content {
	margin: 20px auto 0px auto;
	list-style: none;
	width: 40%;
	background-color: white;
	overflow-wrap: break-word;
	color: black;
	opacity: 0.8;
	text-align: left;
	border-radius: 5px;
}

.course-header {
	padding: 10px 15px 10px 15px;
	font-size: 110%;
	font-weight: 1;
	color: #fff;
}

.display {
	margin-right: 20px;
}

.operation {
	float: right;
	transition: color 0.5s;
}

.operation:hover {
	color: #78c4ed;
	cursor: pointer;
}

.title {
	font-weight: 400;
	font-size: 120%;
	margin-bottom: 5px;
	margin-top: 5px;
}

.prof-name {
	font-weight: 400;
	font-size: 135%;
	margin-bottom: 10px;
}

.average {
	list-style: none;
}

.course-content {
	line-height: 140%;
	padding: 10px 10px 10px 15px;
	font-size: 70%;
}

table {
	width: 60%;
}

th {
	font-weight: normal;
}

tr {
	margin-left: 10px;
}

.hide {
	max-height: 0px;
	transition: max-height 0.8s ease-out;
	overflow: hidden;
}

.show {
	max-height: 2000px;
	transition: max-height 1s ease-in;
	overflow: hidden;
}

.dark {
	background-color: #1e9ce1;
	transition: background-color 2s ease;
}

.light {
	background-color: #b4def5;
	transition: background-color 1s ease;
}

@media only screen and (max-width: 767px) {
	.result-content {
		width: 70%;
	}
}