.searchbar {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

.active {
	color: #87caef;
	background-color: #fff;
	border: 2px #87caef solid;
	border-bottom: 1px white solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#session {
	text-align: left;
	margin-left: 25.5%;
}

#session li {
	font-size: 75%;
	font-weight: 5;
	list-style: none;
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
}

#session li:first-child {
	margin-left: 10px;
	margin-right: 15px;
}

#user-input {
	outline:none !important;
	padding-left: 8px;
	width: 40%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 2px 2px 7px #187db4;
	/*color: #87caef;*/
}

#search-btn {
	width: 10%;
	border: none;
	background-color: #87caef;
	color: #fff;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2.5px 2.5px 7px #187db4;
	transition: background-color 0.5s;
}

#user-input, #search-btn {
	letter-spacing: 0.5px;
	font-size: 90%;
	border: none;
	height: 40px;
	font-family: 'Open Sans', sans-serif; 
}

#session li:hover {
	cursor: pointer;
}

#search-btn:hover {
	background-color: #1e9ce1;
	cursor: pointer;
}

@media only screen and (max-width: 767px) {
	#user-input {
		width: 60%;
	}

	#session {
		margin-left: 12.5%;
	}

	#search-btn {
		width: 15%;
	}
}



